.cursor-pointer {
    cursor: pointer;
}

li.list-group-item {
    display: flex;
    align-items: center;
}

li.list-group-item .close-btn {
    margin-left: auto;
}

#logo {
    height: 30px;
}

.navbar-brand {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}